{% extends "apps/wp/templates/pipeline/form.twig" %}

{% block main %}
  {% for field in form.visible %}
    {{ field.field|raw }}
  {% endfor %}

  {% for field in form.hidden %}
    {{ field.field|raw }}
  {% endfor %}
  
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a id="ffa-tab-a" href="#ffa" role="tab" data-toggle="tab">Free For All</a></li>
    <li><a id="e-tab-a" href="#e" role="tab" data-toggle="tab">Email</a></li>
    <li><a id="facebook-tab-a" href="#facebook" role="tab" data-toggle="tab">Facebook</a></li>
    <li><a id="twitter-tab-a" href="#twitter" role="tab" data-toggle="tab">Twitter</a></li>
    <li><a id="mailchimp-tab-a" href="#mailchimp" role="tab" data-toggle="tab">MailChimp</a></li>
  </ul>
  <br /><br />
  <div class="tab-content">
    <div class="tab-pane active" id="ffa">
      {{ ffa_form.visible.ffa_quantity.field|raw }}
    </div>
    <div class="tab-pane" id="e">
      {% for field in e_form.visible %}
        {{ field.field|raw }}
      {% endfor %}
    </div>
    <div class="tab-pane" id="facebook">
      
    </div>
    <div class="tab-pane" id="twitter">
      
    </div>
    <div class="tab-pane" id="mailchimp">

    </div>
  </div>
  
  <script type="text/template" id="twitter-login-view">
    <div class="row">
    <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <a href="/twitter/?skip=1&return={{ blink.request.url }}" class="btn btn-block btn-u btn-u-aqua">
          <i class="fa fa-twitter"></i>
          Twitter Login
        </a>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </script>
  
  <script type="text/template" id="twitter-view">
    <div class="panel panel-default">
      <div class="panel-title pull-right">
        <div class="checkbox">
          <label>
            <strong>Announce to Twitter</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="twitter_announcement" value="1" {% if twitter_announcement %}checked{% endif %} />&nbsp;
          </label>
        </div>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="<%= account.profile_image_url %>" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= account.name %>[<%= account.screen_name %>]</h4>
            <%= account.description %>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script>
    $(function() {
      
    });
  </script>
{% endblock main %}

{% block sub_extra_javascript %}
  <script src="/apps/wp/static/wp/js/delivery.js"></script>
{% endblock sub_extra_javascript %}