<div class="panel panel-default">
  <div class="panel-body">

    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Account</h4>
        <p class="list-group-item-text">
          {% if blink.request.user %}
            {% if blink.request.user.account == "local" %}
              {{ blink.request.user }}
            {% elseif blink.request.user.account == "Facebook" %}
              <img src="" alt="facebook img" />
            {% elseif blink.request.user.account == "Twitter" %}
              Twitter info.
            {% endif %}
          {% else %}
            {% if profile_name or profile_email %}
              {{ profile_name }}{{ profile_email }}
            {% else %}
              Guest
            {% endif %}
          {% endif %}
        </p>
      </div>
    </div>

    {# If this is an announcement, the progress bar will look a bit different.#}
    {% if module.tag == "announcement" %}
      {# If we have a twitter_profile, then we are sending an announcement to twitter. #}
      {% if twitter_profile %}
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Twitter Announcment</h4>
            <div class="list-group-item-text">
              <div class="media">
                <a href="#">
                  <img class="media-object" src="{{ twitter_profile.profile_image_url }}" alt="...">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{ twitter_profile.name }}[{{ twitter_profile.screen_name }}]</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {# This is essentially a delivery_message, but we call it an announcement here. #}
      <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Announcement</h4>
          <div class="list-group-item-text">
            {{ announcement }}
          </div>
        </div>
      </div>
          
      <h3>Platforms</h3>
      {% if twitter_announcement %}Twitter Announcement{% endif %}<br />
      {% if facebook_announcement %}Facebook Announcement{% endif %}<br />
      {% if facebook_page_announcement %}Facebook Page Announcement{% endif %}<br />
    {% else %}{# General Wapo section. #}
      <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Promotion <a href="/wp/marketplace/" class="btn btn-link">[edit]</a></h4>
          <div class="list-group-item-text">
            <div class="media">
              <a class="pull-left" href="#">
                {% if promotioncategory.name == "Tango Card" %}
                  <img class="media-object" src="{{ sku.brand_image_url }}" style="max-width: 50px; max-height: 50px;" alt="...">
                {% elseif promotioncategory.name == "I Feel Goods" %}
                  <img class="media-object" src="{{ sku.catalog_badge_image_url }}" style="max-width: 50px; max-height: 50px;" alt="...">
                {% else %}
                  <img class="media-object" src="{{ promotion.icon.url }}" style="max-width: 50px; max-height: 50px;" alt="...">
                {% endif %}
              </a>
              <div class="media-body">
                {% if promotioncategory.name == "Tango Card" %}
                  <h4 class="media-heading">{{ sku.description }}</h4>
                  <p>$ {{ sku.unit_price }}</p>
                {% elseif promotioncategory.name == "I Feel Goods" %}
                  <h4 class="media-heading">{{ sku.name }}</h4>
                  <p>$ {{ sku.face_value }}</p>
                {% else %}
                  <h4 class="media-heading">{{ promotion.name }}</h4>
                  <p>${{ promotion.price }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if expiring_date %}
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Expiring Date<a href="/wp/{{ delivery }}/" class="btn btn-link">[edit]</a></h4>
            <div class="list-group-item-text">
              {{ expiring_date }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if delivery_message %}
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Delivery Message <a href="/wp/{{ delivery }}/" class="btn btn-link">[edit]</a></h4>
            <div class="list-group-item-text">
              {{ delivery_message }}
            </div>
          </div>
        </div>
      {% endif %}

      {# Delivery section. #}
      {% if delivery %}
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Delivery Method <a href="/wp/{{ delivery }}/" class="btn btn-link">[edit]</a><a href="/wp/delivery/" class="btn btn-link">[change]</a></h4>
            <div class="list-group-item-text">
              {{ delivery_name }}
            </div>
          </div>
        </div>

        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Quantity <a href="/wp/{{ delivery }}/" class="btn btn-link">[edit]</a></h4>
            <div class="list-group-item-text">
              {{ quantity }}
            </div>
          </div>
        </div>

        {% if quantity and promotion %}
          <div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Total <a href="/wp/{{ delivery }}/" class="btn btn-link">[edit]</a></h4>
              <div class="list-group-item-text">
                {% if promotioncategory.name == "Tango Card" %}
                  <h4 class="media-heading">{{ sku.description }}</h4>
                  <p>$ {{ sku.unit_price * quantity}}</p>
                {% elseif promotioncategory.name == "I Feel Goods" %}
                  <h4 class="media-heading">{{ sku.name }}</h4>
                  <p>$ {{ sku.face_value * quantity}}</p>
                {% else %}
                  <h4 class="media-heading">{{ promotion.name }}</h4>
                  <p>${{ promotion.price * quantity }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    <hr />
  </div>
</div>