{% extends "apps/wp/templates/wp/form.twig" %}

{% block main %}
  <div class="alert alert-success">
    <i class="fa fa-2x fa-check-circle"></i> Congratulations!.

    {% if wapo.delivery_method_abbr == "ffa" %}
      Wapo is ready for distribution. 
    {% else %}
      {% if module.tag == "announcement" %}
        Announcement has been sent.
      {% else %}
        Wapo has been sent.
      {% endif %}
    {% endif %}
  </div>
  
  {# If some items were not sent, notify here. #}
  {% if not_sent %}
    <div class="alert alert-danger">
      <i class="fa fa-2x fa-exclamation-triangle"></i> Error!.
      Some errors occured sending the Wapo. Please <a href="/user/login/?return=/wapo/dashboard/profile/">log in</a> to review errors.
    </div>
  {% endif %}

  {% if module.tag != "announcement" %}
    <ul class="list-group">
      <li class="list-group-item"><h3>Delivery Method <small>{{ wapo.delivery_method }}</small></h3></li>
      <li class="list-group-item"><h3>Expiring Date <small>{{ wapo.expiring_date }}</small></h3></li>
      <li class="list-group-item"><h3>Total Cost <small>{{ wapo.quantity * wapo.promotion.price }}</small></h3></li>
      <li class="list-group-item"><h3>Total/Downloaded <small>{{ wapo.quantity }} / {{ wapo.downloaded }}</small></h3></li>
    </ul>
  {% endif %}

  {% if wapo.delivery_method_abbr == "ffa" %}
    <strong>Use the following links for your free for all Wapo.</strong><br /><br />
    <table class="table">
      {% for turl in targeturl_list %}
        <tr>
          <td>
            {% if turl.platform == "g" %}
              <strong>General URL</strong>
            {% elseif turl.platform == "f" %}
              <strong>Facebook URL</strong>
            {% elseif turl.platform == "t" %}
              <strong>Twitter URL</strong>
            {% elseif turl.platform == "i" %}
              <strong>Instagram URL</strong>
            {% elseif turl.platform == "gp" %}
              <strong>Google+ URL</strong>
            {% elseif turl.platform == "t" %}
              <strong>Twitter URL</strong>
            {% elseif turl.platform == "p" %}
              <strong>Pintrest URL</strong>
            {% endif %}
          </td>
          <td>{{ blink.Site }}/{{ turl.code }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock main %}